/* базовый серый цвет на сайте */
$b-gray-c: #2c2c2c;
$b-dgray-c: #333;

/* базовый оранжевый цвет на сайте */
$b-orange-c: #df9e5d;
$b-orange-top-c: #D86208;
/* базовый размер текста */
// $b-font-s: 0.875em;
$b-font-s: 1em;
/* базовый цвет текста */
$b-font-c: #9b9b9b;

/* базовый текст */
$b-font-f: 'robotocondensed';

/* высота футера */
$b-footer-h: 25.68em;

/* время задержки */
$time: 0.3s;

/* цвет ссылки */
$b-a-c: #00D2F0;
$b-a-c_h: #0094AB;

/* иконочный */
$ico-f: 'FontAwesome';

/* для логотипа */
$six: 'compactregular';
$aday: 'a_day_without_sunregular';
$driod: 'droidregular';

